{% extends 'user/index.html' %}
{% block content %}
<div style="min-height:500px;">

<br>
<center>
    <b><h3>WORK PROGRESS</h3></b>
    <br>
    <table border="2px" width="89%">

        <tr>
            <th><b><h5>COMPANY NAME</h5></b></th>
            <th><b><h5>WORK DETAILS</h5></b></th>
            <th><b><h5>IMAGE</h5></b></th>
            <th><b><h5>DATE</h5></b></th>
        </tr>


        {% for i in data %}
        <tr>
            <td>{{i.1}}</td>
            <td>{{i.3}}</td>
            <td><img src="../media/{{i.4}}" style="width:150px;"></td>
            <td>{{i.5}}</td>
        </tr>
        {% endfor %}
    </table>

</center>
</div>
{% endblock %}